@import "tailwindcss";
@font-face {
  font-family: "Luciole";
  src: url("/fonts/luciole/Luciole-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Luciole";
  src: url("/fonts/luciole/Luciole-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Luciole", sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
   font-family: var(--font-sans);
}
li {
  text-decoration: none;
  list-style: none;

}